@inherits LayoutComponentBase

<div class="room-layout">
    <header class="room-header px-4">
        <a class="room-brand" href="/">WordGame</a>
    </header>

    <main>
        <article class="room-content px-4">
            @Body
        </article>
    </main>
</div>