@inherits LayoutComponentBase

<div class="h-screen flex flex-col bg-radial from-stone-700 from-40% to-stone-800 text-white text-2xl" style="font-family: 'Lobster', cursive;"
     xmlns="http://www.w3.org/1999/html">
    <header class="flex items-center justify-center h-8 bg-fuchsia-700 shadow-2xl">
        <a href="/">WordGame</a>
    </header>

    <main class="flex-1">
        @Body
    </main>
</div>
